.gray, .grey {
  color: #a5a5a5; }

h1 em {
  font-weight: normal; }

body {
  font-family: helvetica,arial, san-serif;
  font-size: 16px;
  background: #e9e9e9;
  display: flex; }

.circle.active {
  background: #2C95DD; }

.proj-pic {
  border-radius: 1em;
  overflow: hidden;
  width: 3.5em;
  height: 3.5em;
  display: block;
  background-repeat: no-repeat;
  background-position: center middle;
  background-size: cover;
  float: left; }

.entry {
  margin: .5vh 0;
  height: 13vh;
  padding: 1.5vh; }

.top {
  overflow: hidden; }

h3 span {
  opacity: .6;
  font-weight: 100; }
h3 em {
  font-style: normal;
  opacity: 1; }

.container {
  width: 100%;
  background: #d8d8d8;
  border-radius: 0.5em; }

.bar {
  background: green;
  height: 3vh;
  min-height: 18px;
  display: block;
  border-radius: 0.5em; }

#left {
  width: 5em;
  flex-shrink: 1; }

#right {
  flex-grow: 1; }

.circle {
  width: 4em;
  height: 4em;
  display: block;
  border-radius: 50%;
  margin: 2em 0;
  background: #d8d8d8; }
