<html>
    <head>
        <link rel="stylesheet" href="css/main.css">

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body ng-app="app">
        <div id="left">
            <span ng-repeat="item in views track by $index" class="circle" ng-class="{active: view == item.id}">
                <span style="vertical-align:-2.5em;"><b>{{ item.name }}</b></span>
            </span>
        </div>

        <div id="right">
            <div ng-controller="UserStatsCtrl" ng-if="view == 0">
                <h1>Users with Most Commits</h1>
                <form name="userForm">
                    <label> Last # of Days:
                        <input name="prevDays" type="number" min="1" max="30" required onFocus="this.select();"
                               ng-model="prevDays"
                               ng-change="loadCounts()"/>
                        <span class="gray"><i>(enter a value between 1 and 30)</i></span>
                    </label>
                    <div ng-messages="userForm.prevDays.$error" class="error">
                        <div ng-message="required">Please enter a value between 1 and 30.</div>
                        <div ng-message="min" >The number has to be >= 1.</div>
                        <div ng-message="max">The number has to be <= 30.</div>
                    </div>
                </form>

                <div ng-repeat="item in userStats track by $index" class="entry">
                    <div class="top">
                        <span ng-if="$index<5">
                            <span class="proj-pic" style="background-image:url(img/proj-{{$index}}.png)"></span>
                        </span>

                        <h3>
                            <em>{{item._id}}</em> <span>has</span>
                            <em>{{item.count}}</em> <span>commits with</span>
                            <em>{{item.projects.length}}</em>
                            <span>projects [
                                <span ng-repeat="proj in item.projects track by $index">
                                    {{ proj.project }}
                                    <span ng-show="$index < item.projects.length-1">, </span>
                                </span> ]
                            </span>
                        </h3>
                        <div class="container">
                            <div class="bar" style="width: {{item.commitPercent}}%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-controller="ProjectStatsCtrl" ng-if="view == 1">
                <h1>Projects with Most Commits</h1>
                <form name="projForm">
                    <label> Last # of Days:
                        <input name="prevDays" type="number" min="1" max="30" required onFocus="this.select();"
                               ng-model="prevDays"
                               ng-change="loadCounts()"/>
                        <span class="gray"><i>(enter a value between 1 and 30)</i></span>
                    </label>
                    <div ng-messages="projForm.prevDays.$error" class="error">
                        <div ng-message="required">Please enter a value for this field.</div>
                        <div ng-message="min" >The number has to be >= 1.</div>
                        <div ng-message="max">The number has to be <= 30.</div>
                    </div>
                </form>

                <div ng-repeat="item in projectStats track by $index" class="entry">
                    <div class="top">
                        <span ng-if="$index<5">
                            <span class="proj-pic" style="background-image:url(img/proj-{{$index}}.png)"></span>
                        </span>
                        <h3>
                            <em>{{item._id}}</em> <span>has</span>
                            <em>{{item.count}}</em> <span>commits with</span>
                            <em>{{item.users.length}}</em>
                            <span>contributors [
                                {{ item.users[0].user }}
                                <span ng-if="item.users.length > 1">, {{ item.users[1].user }} </span>
                                <span ng-if="item.users.length > 2">, {{ item.users[2].user }} </span> ]
                            </span>
                        </h3>
                        <div class="container">
                            <div class="bar" style="width: {{item.commitPercent}}%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-controller="RepoStatsCtrl" ng-if="view == 2">
                <h1>Repos with Most Commits</h1>
                <form name="repoForm">
                    <label> Last # of Days:
                        <input name="prevDays" type="number" min="1" max="30" required onFocus="this.select();"
                               ng-model="prevDays"
                               ng-change="loadCounts()"/>
                        <span class="gray"><i>(enter a value between 1 and 30)</i></span>
                    </label>
                    <div ng-messages="repoForm.prevDays.$error" class="error">
                        <div ng-message="required">Please enter a value between 1 and 30.</div>
                        <div ng-message="min" >The number has to be >= 1.</div>
                        <div ng-message="max">The number has to be <= 30.</div>
                    </div>
                </form>

                <div ng-repeat="item in repoStats track by $index" class="entry">
                    <div class="top">
                        <span ng-if="$index<5">
                            <span class="proj-pic" style="background-image:url(img/proj-{{$index}}.png)"></span>
                        </span>
                        <h3>
                            <em>{{item._id}}</em> <span>has</span>
                            <em>{{item.count}}</em> <span>commits with</span>
                            <em>{{item.users.length}}</em>
                            <span>contributors [
                                {{ item.users[0].user }}
                                <span ng-if="item.users.length > 1">, {{ item.users[1].user }} </span>
                                <span ng-if="item.users.length > 2">, {{ item.users[2].user }} </span> ]
                            </span>
                        </h3>
                        <div class="container">
                            <div class="bar" style="width: {{item.commitPercent}}%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
